AutomationFrontEnd/Service References/AutomationService/AutomationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AutomationService.Data.Frequency" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AutomationService.Data.Frequency" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobFrequency">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstScheduledAsString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrequencyType" type="tns:FrequencySetting" />
      <xs:element minOccurs="0" name="LastRunAsString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastSuccessfulRunAsString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobFrequency" nillable="true" type="tns:JobFrequency" />
  <xs:simpleType name="FrequencySetting">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fsAdhoc" />
      <xs:enumeration value="fsMonthly" />
      <xs:enumeration value="fsWeekly" />
      <xs:enumeration value="fsDaily" />
      <xs:enumeration value="fsHourly" />
      <xs:enumeration value="fs5Minutes" />
      <xs:enumeration value="fs1Minute" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FrequencySetting" nillable="true" type="tns:FrequencySetting" />
  <xs:complexType name="JobFrequencyCount">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:JobFrequency">
        <xs:sequence>
          <xs:element minOccurs="0" name="MaximumRunCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JobFrequencyCount" nillable="true" type="tns:JobFrequencyCount" />
  <xs:complexType name="JobFrequencyDate">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:JobFrequency">
        <xs:sequence>
          <xs:element minOccurs="0" name="LastScheduledRunAsString" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JobFrequencyDate" nillable="true" type="tns:JobFrequencyDate" />
</xs:schema>